In [1]:
import pandas as pd

In [2]:
#loading a local excel sheet into pandas and then showing the first 15 rows of monthly trade data. creating a dataframe for that sheet.
df = pd.read_excel('itc_textile_apparel_import_monitoring_report_data.xlsx', sheet_name=1)
df.head(15)

,Row order,Level of product aggregation,Category or HTS number,Category or HTS description,Source,Item,Dec 2021,Nov 2021,Oct 2021,Sep 2021,...,Oct 2003,Sep 2003,Aug 2003,Jul 2003,Jun 2003,May 2003,Apr 2003,Mar 2003,Feb 2003,Jan 2003
0,1,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,China,Value (dollars),3.005258e+06,2.630450e+06,2.989112e+06,3.480333e+06,...,9.253110e+05,7.433190e+05,1.002834e+06,1.209634e+06,7.203840e+05,6.632890e+05,7.344900e+05,4.665470e+05,6.273710e+05,4.962010e+05
1,2,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All other sources,Value (dollars),2.744530e+07,2.205536e+07,1.896131e+07,2.497756e+07,...,2.256987e+07,2.302865e+07,2.227982e+07,2.388279e+07,2.440051e+07,2.415174e+07,2.274678e+07,2.237030e+07,1.889579e+07,1.832541e+07
2,3,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All sources,Value (dollars),3.045056e+07,2.468581e+07,2.195042e+07,2.845789e+07,...,2.349518e+07,2.377197e+07,2.328265e+07,2.509242e+07,2.512090e+07,2.481503e+07,2.348127e+07,2.283684e+07,1.952316e+07,1.882161e+07
3,4,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,China,Share of value (percent),9.869304e+00,1.065572e+01,1.361756e+01,1.222976e+01,...,3.938301e+00,3.126872e+00,4.307216e+00,4.820714e+00,2.867668e+00,2.672932e+00,3.127982e+00,2.042957e+00,3.213470e+00,2.636337e+00
4,5,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All other sources,Share of value (percent),9.013070e+01,8.934428e+01,8.638244e+01,8.777024e+01,...,9.606170e+01,9.687313e+01,9.569278e+01,9.517929e+01,9.713233e+01,9.732707e+01,9.687202e+01,9.795704e+01,9.678653e+01,9.736366e+01
5,6,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All sources,Share of value (percent),1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,...,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02
6,7,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,China,Quantity (kilograms),4.805470e+05,3.945740e+05,4.414630e+05,4.103140e+05,...,2.372100e+05,1.992200e+05,2.598550e+05,3.732040e+05,2.093260e+05,1.606130e+05,2.153210e+05,1.476310e+05,1.499920e+05,1.459310e+05
7,8,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All other sources,Quantity (kilograms),4.314557e+06,3.274877e+06,2.746083e+06,3.722711e+06,...,5.607693e+06,5.523322e+06,5.729629e+06,6.218290e+06,6.021085e+06,5.815436e+06,5.430620e+06,5.102550e+06,4.526225e+06,4.128683e+06
8,9,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All sources,Quantity (kilograms),4.795104e+06,3.669451e+06,3.187546e+06,4.133025e+06,...,5.844903e+06,5.722542e+06,5.989484e+06,6.591494e+06,6.230411e+06,5.976049e+06,5.645941e+06,5.250181e+06,4.676217e+06,4.274614e+06
9,10,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,China,Share of quantity (percent),1.002162e+01,1.075294e+01,1.384962e+01,9.927692e+00,...,4.058408e+00,3.481320e+00,4.338521e+00,5.661903e+00,3.359746e+00,2.687612e+00,3.813731e+00,2.811922e+00,3.207550e+00,3.413899e+00
10,11,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All other sources,Share of quantity (percent),8.997838e+01,8.924706e+01,8.615038e+01,9.007231e+01,...,9.594159e+01,9.651868e+01,9.566148e+01,9.433810e+01,9.664025e+01,9.731239e+01,9.618627e+01,9.718808e+01,9.679245e+01,9.658610e+01
11,12,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All sources,Share of quantity (percent),1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,...,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02
12,13,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,China,Unit value ($ per kilogram),6.253827e+00,6.666557e+00,6.770923e+00,8.482121e+00,...,3.900809e+00,3.731146e+00,3.859206e+00,3.241214e+00,3.441445e+00,4.129734e+00,3.411140e+00,3.160224e+00,4.182696e+00,3.400244e+00
13,14,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All other sources,Unit value ($ per kilogram),6.361093e+00,6.734713e+00,6.904857e+00,6.709508e+00,...,4.024805e+00,4.169348e+00,3.888527e+00,3.840733e+00,4.052511e+00,4.153040e+00,4.188616e+00,4.384141e+00,4.174735e+00,4.438560e+00
14,15,Category,200/301,Cotton & MMF yarn for retail sale and sewing t...,All sources,Unit value ($ per kilogram),6.350344e+00,6.727384e+00,6.886308e+00,6.885488e+00,...,4.019773e+00,4.154092e+00,3.887255e+00,3.806788e+00,4.031981e+00,4.152414e+00,4.158965e+00,4.349725e+00,4.174991e+00,4.403113e+00

In [3]:
#checking the datatypes of the first six columns 
first_six=df.iloc[:,:6]
first_six.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14265 entries, 0 to 14264
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Row order                     14265 non-null  int64
 1   Level of product aggregation  14265 non-null  object
 2   Category or HTS number        14265 non-null  object
 3   Category or HTS description   14265 non-null  object
 4   Source                        14265 non-null  object
 5   Item                          14265 non-null  object
dtypes: int64(1), object(5)
memory usage: 668.8+ KB

In [4]:
#filtering items of interest 
categories_filter = ['5407200000','6104622011']
filt = df['Category or HTS number'].isin(categories_filter)
items_of_interest=df.loc[filt]

In [5]:
#filtering for the specific columns we want to see. Calling the new dataframe df2
df2=items_of_interest[(items_of_interest.Source=='China') & (items_of_interest.Item=='Value (dollars)')]

In [6]:
#transposing df2 into a new dataframe called df3
df3=df2.T
df3

,420,990
Row order,421,991
Level of product aggregation,HTS,HTS
Category or HTS number,5407200000,6104622011
Category or HTS description,Woven Fabrics Of Synthetic Filament Yarn; Obta...,"Women'S Trousers And Breeches, Knitted Or Croc..."
Source,China,China
...,...,...
May 2003,0,165794
Apr 2003,0,362292
Mar 2003,0,247116
Feb 2003,0,299043
Jan 2003,0,535796

In [7]:
#cleaning up the new dataframe into a time series. Deleting the first five rows in Pandas. 
df4 = df3.iloc[6:234]
df4

                  420          990
Dec 2021  2.51129e+06  1.25451e+07
Nov 2021  1.97532e+06  1.30826e+07
Oct 2021  1.81506e+06  1.37457e+07
Sep 2021  2.21823e+06  1.56316e+07
Aug 2021  3.06935e+06  1.23323e+07
...               ...          ...
May 2003            0       165794
Apr 2003            0       362292
Mar 2003            0       247116
Feb 2003            0       299043
Jan 2003            0       535796

[228 rows x 2 columns]

In [8]:
#reversing the row order of the dataframe
df5 = df4.loc[::-1]
df5

                  420          990
Jan 2003            0       535796
Feb 2003            0       299043
Mar 2003            0       247116
Apr 2003            0       362292
May 2003            0       165794
...               ...          ...
Aug 2021  3.06935e+06  1.23323e+07
Sep 2021  2.21823e+06  1.56316e+07
Oct 2021  1.81506e+06  1.37457e+07
Nov 2021  1.97532e+06  1.30826e+07
Dec 2021  2.51129e+06  1.25451e+07

[228 rows x 2 columns]

In [10]:
#changing the column titles 
df5.rename({420:'Value (dollars) for Woven Fabrics Of Synthetic Filament Yarn', 990:'Value (dollars) Womens Trousers And Breeches'}, 
axis=1,inplace=True)
df5

,Value (dollars) for Woven Fabrics Of Synthetic Filament Yarn,Value (dollars) Womens Trousers And Breeches
Jan 2003,0,535796
Feb 2003,0,299043
Mar 2003,0,247116
Apr 2003,0,362292
May 2003,0,165794
...,...,...
Aug 2021,3.06935e+06,1.23323e+07
Sep 2021,2.21823e+06,1.56316e+07
Oct 2021,1.81506e+06,1.37457e+07
Nov 2021,1.97532e+06,1.30826e+07
Dec 2021,2.51129e+06,1.25451e+07

In [18]:

#saving that as a new spreadsheet 
df5.to_excel('HST Time Series data for Yarn Woven Fabrics and Womens Trousers.xlsx')